.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0px 0px 5px #000;
}
.nav-link {
    border-bottom: 2px solid transparent;
    margin-right: 4px;
    transition: border-bottom 0.1s ease, padding-bottom 0.5s ease-in-out;
}
.nav-link:hover {
    border-bottom: 2px solid var(--bs-primary);
    padding-bottom: 14px;
}
.carte {
    width: 340px;
    margin-top: 0.5rem;
}
hr {
    color: blue;
}
.italic {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--bs-primary);
}
/* h1 {
    background-color: var(--bs-primary);
    text-shadow: 0px 1px 3px #000;
    color: #fff;
    padding: 12px;
} */
textarea {
    resize: none;
}
